.geralDiferencial {
  background: #393937 url('/bg.png');
  padding-top: 80px;
}

.titulo {
  font-size: 2em;
  width: 40vh;
  margin-left: 0.5em;
}

.elementos {
  display: flex;
  justify-content: flex-end;
}
.itens {
  position: relative;
  right: 1em;
  z-index: 1;
}
.linha {
  position: relative;
  width: 2px;
  background-color: aliceblue;
  height: 140vh;
  margin-top: -300px;
  margin-bottom: -40px;
  right: 4em;
}
/*    */
