.geralDiferencial {
  background: #393937 url('/bg.png');
  padding-top: 50px;
}

.titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  color: aliceblue;
  width: 40vh;
  margin-left: 30px;
  line-height: 0.9;
}

.elementos {
  display: flex;
  justify-content: flex-end;
}
.itens {
  position: relative;
  right: 3vh;
  z-index: 1;
}
.linha {
  position: relative;
  width: 2px;
  background-color: aliceblue;
  height: 140vh;
  margin-top: -300px;
  margin-bottom: -40px;
  right: 9vh;
}
