.item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2.2em;
  align-items: center;
}

.texto {
  font-size: 1.2em;
  width: 120px;
  text-align: right;
}

.imagem > img {
  width: 90px;
  margin-left: 1em;
}
